{% import 'image.html' as image %}
{% extends "layout.html" %}
{% block body %}
{% if current_user.show_detail_random() and page != "discover" %}
<div class="discover random-books">
  <h2 class="random-books">{{_('Discover (Random Books)')}}</h2>
  <div class="row display-flex">
   {% for entry in random %}
    <div class="col-sm-3 col-lg-2 col-xs-6 book session" id="books_rand">
      <div class="cover">
          <a href="{{ url_for('web.show_book', book_id=entry.Books.id) }}" {% if simple==false %}data-toggle="modal" data-target="#bookDetailsModal" data-remote="false"{% endif %}>
              <span class="img" title="{{ entry.Books.title }}">
                {{ image.book_cover(entry.Books) }}
                {% if entry[2] == True %}<span class="badge read glyphicon glyphicon-ok"></span>{% endif %}
              </span>
          </a>
      </div>
      <div class="meta">
        <a href="{{ url_for('web.show_book', book_id=entry.Books.id) }}" {% if simple==false %}data-toggle="modal" data-target="#bookDetailsModal" data-remote="false"{% endif %}>
          <p title="{{entry.Books.title}}" class="title">{{entry.Books.title|shortentitle}}</p>
        </a>
        <p class="author">
          {% for author in entry.Books.authors %}
            {% if loop.index > g.config_authors_max and g.config_authors_max != 0 %}
              {% if not loop.first %}
                <span class="author-hidden-divider">&amp;</span>
			  {% endif %}
              <a class="author-name author-hidden" href="{{url_for('web.books_list', data='author', sort_param='stored', book_id=author.id) }}">{{author.name.replace('|',',')|shortentitle(30)}}</a>
              {% if loop.last %}
                <a href="#" class="author-expand" data-authors-max="{{g.config_authors_max}}" data-collapse-caption="({{_('reduce')}})">(...)</a>
              {% endif %}
            {% else %}
              {% if not loop.first %}
                <span>&amp;</span>
              {% endif %}
              <a class="author-name" href="{{url_for('web.books_list',  data='author', sort_param='stored', book_id=author.id) }}">{{author.name.replace('|',',')|shortentitle(30)}}</a>
            {% endif %}
          {% endfor %}
        </p>
        {% if entry.Books.series.__len__() > 0 %}
        <p class="series">
          <a href="{{url_for('web.books_list', data='series', sort_param='stored', book_id=entry.Books.series[0].id )}}">
            {{entry.Books.series[0].name}}
          </a>
          ({{entry.Books.series_index|formatfloat(2)}})
        </p>
        {% endif %}
        {% if entry.Books.ratings.__len__() > 0 %}
        <div class="rating">
          {% for number in range((entry.Books.ratings[0].rating/2)|int(2)) %}
            <span class="glyphicon glyphicon-star good"></span>
            {% if loop.last and loop.index < 5 %}
              {% for numer in range(5 - loop.index) %}
                <span class="glyphicon glyphicon-star-empty"></span>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
<div class="discover load-more">
  <h2 class="{{title}}">{{title}}</h2>
   {% if page != 'discover' %}
    <div class="filterheader filterheader-library">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle sort-menu" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span>Sort by</span>
          {% if order == "new" %}<strong>Newest added</strong>{% endif%}
          {% if order == "old" %}<strong>Oldest added</strong>{% endif%}
          {% if order == "abc" %}<strong>Title</strong>{% endif%}
          {% if order == "zyx" %}<strong>Title, reversed</strong>{% endif%}
          {% if order == "authaz" %}<strong>Author</strong>{% endif%}
          {% if order == "authza" %}<strong>Author, reversed</strong>{% endif%}
          {% if order == "pubnew" %}<strong>Newest Published</strong>{% endif%}
          {% if order == "pubold" %}<strong>Oldest Published</strong>{% endif%}
          {% if order == "hotasc" %}<strong>Most downloaded</strong>{% endif%}
          {% if order == "hotdesc" %}<strong>Least downloaded</strong>{% endif%}
          {% if order == "seriesasc" %}<strong>Series</strong>{% endif%}
          {% if order == "seriesdesc" %}<strong>Series, Reversed</strong>{% endif%}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="{{url_for('web.books_list', data=page, book_id=id, sort_param='new')}}">Newest added</a></li>
          <li><a href="{{url_for('web.books_list', data=page, book_id=id, sort_param='old')}}">Oldest added</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="{{url_for('web.books_list', data=page, book_id=id, sort_param='abc')}}">Title</a></li>
          <li><a href="{{url_for('web.books_list', data=page, book_id=id, sort_param='zyx')}}">Title, reversed</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="{{url_for('web.books_list', data=page, book_id=id, sort_param='authaz')}}">Author</a></li>
          <li><a href="{{url_for('web.books_list', data=page, book_id=id, sort_param='authza')}}">Author, reversed</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="{{url_for('web.books_list', data=page, book_id=id, sort_param='pubnew')}}">Newest Published</a></li>
          <li><a href="{{url_for('web.books_list', data=page, book_id=id, sort_param='pubold')}}">Oldest Published</a></li>
          {% if page == 'hot' %}
          <li role="separator" class="divider"></li>
          <li><a href="{{url_for('web.books_list', data=page, book_id=id, sort_param='hotasc')}}">Most Downloaded</a></li>
          <li><a href="{{url_for('web.books_list', data=page, book_id=id, sort_param='hotdesc')}}">Least Downloaded</a></li>
          {% endif %}
          {% if page == 'series' %}
          <li role="separator" class="divider"></li>
          <li><a href="{{url_for('web.books_list', data=page, book_id=id, sort_param='seriesasc')}}">Series</a></li>
          <li><a href="{{url_for('web.books_list', data=page, book_id=id, sort_param='seriesdesc')}}">Series, reversed</a></li>
          {% endif %}
        </ul>

        {% if title == 'Books' %}
        <span class="library-metrics">
         {{bookcounter}} Books, {{authorcounter}} Authors
        </span>
        {% else %}
        {% endif %}

      </div>
    </div>
   {% endif %}
  <div class="row display-flex">
    {% if entries[0] %}
    {% for entry in entries %}
    <div class="col-sm-3 col-lg-2 col-xs-6 book session" id="books">
      <div class="cover">
          <a href="{{ url_for('web.show_book', book_id=entry.Books.id) }}" {% if simple==false %}data-toggle="modal" data-target="#bookDetailsModal" data-remote="false"{% endif %}>
            <span class="img" title="{{ entry.Books.title }}">
              {{ image.book_cover(entry.Books) }}
              {% if entry[2] == True %}<span class="badge read glyphicon glyphicon-ok"></span>{% endif %}
            </span>
          </a>
      </div>
      <!--
      <div class="meta">
        <a href="{{ url_for('web.show_book', book_id=entry.Books.id) }}" {% if simple==false %}data-toggle="modal" data-target="#bookDetailsModal" data-remote="false"{% endif %}>
          <p title="{{ entry.Books.title }}" class="title">{{entry.Books.title|shortentitle}}</p>
        </a>
        <p class="author">
          {% for author in entry.Books.authors %}
            {% if loop.index > g.config_authors_max and g.config_authors_max != 0 %}
              {% if not loop.first %}
                <span class="author-hidden-divider">&amp;</span>
			  {% endif %}
              <a class="author-name author-hidden" href="{{url_for('web.books_list', data='author', book_id=author.id, sort_param='stored') }}">{{author.name.replace('|',',')|shortentitle(30)}}</a>
              {% if loop.last %}
                <a href="#" class="author-expand" data-authors-max="{{g.config_authors_max}}" data-collapse-caption="({{_('reduce')}})">(...)</a>
              {% endif %}
            {% else %}
              {% if not loop.first %}
                <span>&amp;</span>
              {% endif %}
              <a class="author-name" href="{{url_for('web.books_list', data='author', book_id=author.id, sort_param='stored') }}">{{author.name.replace('|',',')|shortentitle(30)}}</a>
            {% endif %}
          {% endfor %}
          {% if entry.Books.data|music %}
            <span class="glyphicon glyphicon-music"></span>
          {% endif %}
        </p>
        {% if entry.Books.series.__len__() > 0 %}
        <p class="series">
        {% if page != "series" %}
          <a href="{{url_for('web.books_list', data='series', sort_param='stored', book_id=entry.Books.series[0].id )}}">
            {{entry.Books.series[0].name}}
          </a>
        {% else %}
            <span>{{entry.Books.series[0].name}}</span>
        {% endif %}
          ({{entry.Books.series_index|formatfloat(2)}})
        </p>
        {% endif %}
        {% if entry.Books.ratings.__len__() > 0 %}
        <div class="rating">
          {% for number in range((entry.Books.ratings[0].rating/2)|int(2)) %}
            <span class="glyphicon glyphicon-star good"></span>
            {% if loop.last and loop.index < 5 %}
              {% for numer in range(5 - loop.index) %}
                <span class="glyphicon glyphicon-star-empty"></span>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
      -->
    </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
